 #rpv-default-layout__sidebar-tab-2 , #rpv-default-layout__sidebar-tab-1, #rpv-core__tooltip-body-full-screen-enter {
    display:none ;
}
.p-dropdown:not(.p-disabled).p-focus{
    border: 2px solid rgb(226, 11, 11);
  }

  .custom-dropdown1 .p-dropdown-label {
    color: rgb(139, 134, 134); /* Thay đổi màu của placeholder */
    opacity: 0.5; /* Đặt độ trong suốt nếu cần */
  }
  
  /* Định kiểu khi dropdown có giá trị */
  .custom-dropdown1 .p-dropdown-label:not(.p-placeholder) {
    color: rgb(17, 14, 14); /* Thay đổi màu của văn bản khi có giá trị */
  }