/* styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* color of the scrollbar */
  border-radius: 4px; /* roundness of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* color of the scrollbar on hover */
}

.resizable-panel {
  display: flex;
}

.panel-content {
  overflow: auto;
}

.resizer {
  cursor: ew-resize;
  background: rgb(110, 12, 12);
  height: 100%;
  display: inline-block;
}
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}
.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}
